@font-face {
    font-family: "Rubik";
    src: url(./fonts/Rubik-Light.ttf);
}

@font-face {
    font-family: "Rubik-medium";
    src: url(./fonts/Rubik-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    height: 800px;
    overflow-x: hidden;
    }

.background{
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    
    height: 85%;
    border-bottom-left-radius: 20rem;
    border-bottom-right-radius: 20rem;
    
    
    display: flex;
    flex:0.25;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex;
    margin-left: -7rem; 
}

.bg-bottom-right{

    background: #F7F6FA ;
    
    height: 85%;
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem;

    margin-top: 6rem;
    margin-right: -8rem;

    display: flex;
    flex: 0.25;
    flex-direction:row;
    justify-content: flex-end;
    align-items: flex-end;
}


.mid{
    display: flex;
    flex:0.5;
    flex-direction: row;
    /* justify-content: space-between; */
    
    margin-top: 5rem;
    margin-left: -11rem;

}

/* .phone-mockup{
    display: flex;
    flex-direction: row;
    flex:0.22;
    justify-content: flex-start;

} */

.mid-msg{
    margin-top: 17rem;
    

    display: flex;
    flex:1;
    flex-direction:column;
    z-index: 2;

}

.mid-msg > h1{
    color: #3E2753;

    font-family: 'Rubik-medium';
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
}

.mid-msg > p{
    color: #a39dA9; 

    margin-top: 1.5rem;

    font-family: 'Rubik';
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;

}


/* 
@media only screen and (min-width:375px ){
    body{
        display: flex;
        flex: 1;
        /* flex-direction: column; */
/* 
        height: 100%;
    } */

    /* .background{
        background:linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
        flex: 0.5;
        height: 60vh;
        border-bottom-right-radius: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    } */

    /* .bg-bottom-left{ */
        /* background: blue;
        flex: 0.5; */
        /* height: 60vh;
        border-top-left-radius: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end; */
    /* }
/* } */ 